{% extends "home/core/base.html" %}

{% block content %}

<h1>Library</h1>

<a href="/home/library/upload">Upload</a>

<table id="library">
    <thead>
        <td>Title</td>
        <td>Artist</td>
        <td>Genre</td>
        <td>Uploader</td>
    </thead>

    {% for song in songs %}
    <tr>
        <td><a href="{{ song.url }}" target="_blank">{{ song.title }}</a></td>
        <td>{{ song.artist }}</td>
        <td>{{ song.genre }}</td>
        <td>{{ song.uploader.user.username }}</td>
        <td><a href="/home/library/upload/?edit={{ song.id }}"><i class="fa fa-cog" aria-hidden="true"></i></a></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}