<div id="sidebar">
    <span id="sidebar-controller" class="fa fa-bars" aria-hidden=true></span>
    <nav id="sidebar-nav" role="navigation">
        <ul class="sidebar-navgroup">
            <li class="title"><a href="/home/">Party</a></li>
            <li class="link"><a href="/home/posts/">Posts</a></li>
            {% if user.is_authenticated %}
                <li class="link"><a href="/home/library/">Library</a></li>
                <li class="link"><a href="/home/library/upload/">Upload</a></li>
                <li class="link"><a href="/logout/">Logout</a></li>
                <li class="section"><a href="/home/playlists/">Playlists</a></li>
                {% for playlist in user.playlists %}
                    <li class="link"><a href="">playlist.name</a></li>
                {% endfor %}
            {% else %}
                <li class="link"><a href="/login/">Login</a></li>
            {% endif %}
        </ul>
    </nav>
</div>
